@charset "UTF-8";

h1 {
            color: rgb(39, 192, 172)        
        }
        
        body {
            background-color: rgb(31, 31, 31);
        }

        h2 {
            color: rgb(34, 165, 165);
        }

        p {
            color: aqua;
        }
 